@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0dda55;
    --primary-color-light: #f4f4f4;
    --primary-color-dark: #078E38;
    --text-dark: #000000;
    --text-light: #737373;
    --white: white;
    --max-width: 1200px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    color: var(--primary-color);
}

.logo a span {
    color: var(--text-dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s linear;
}

ul {
    list-style-type: none;
}

/* navbar */


.nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav-logo a {
    color: var(--white);
}

.nav-menu-btn {
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}

.nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-color-light);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav-links.open {
    transform: translateY(0);
}

.nav-links a {
    font-weight: 500;
    color: var(--primary-color);
}

.nav-links a:hover {
    color: var(--text-dark);
}

.nav-btn {
    display: none;
}
/* done */
/* done 2 */
/* navbar responsive */

@media(width > 768px) {
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav {
        /* position: static;1 */
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        gap: 2rem;
    }

    .nav-header {
        flex: 1;
        padding: 0;
        background-color: transparent;
    }
    
    .nav-logo a {
        margin: 1.1rem 0 0 1rem;
        color: var(--primary-color);
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-links {
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
        margin-top: 1.5rem;
        z-index: 1;
    }

    .nav-links a {
        color: var(--text-dark);
        cursor: pointer;
    }

    .nav-links a:hover {
        color: var(--primary-color);
    }

    .nav-btn {
        display: flex;
        flex: 1;
        margin-top: 1rem;
        margin-right: 2rem;
        justify-content: flex-end;
    }

    .nav-btn .btn {
        padding: 8px 10px;
        font-size: 1.5rem;
        border-radius: 100%;
    }
}


/* header */

.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-description {
    line-height: 1.75rem;
    text-align: center;
    color: var(--text-light);
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

.header-container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
}
.header-image{
    z-index: -2;
}
.header-image img {
    max-width: 600px;
    margin-inline: auto;
}

.header-content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
}

.header-content h1 span {
    color: var(--primary-color);
}

.header-content .section-description {
    margin-bottom: 2rem;
}

.header-btn {
    text-align: center;
}


/* header responsive */

@media (width > 768px) {
    .header-container {
        grid-template-columns: 2fr 3fr;
        align-items: center;
    }

    .header-content h1,
    .header-content .section-description,
    .header-btn {
        text-align: left;
    }

    .header-image {
        grid-area: 1/2/2/3;
    }
}

/* special dishes */

.section-header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    color: var(--text-dark);
}

.special-container :is(.section-header, .section-description) {
    max-width: 600px;
    margin-inline: auto;
}

.special-grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.special-card {
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    transition: 0.3s linear;
}

.special-card:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.special-card img {
    max-width: 200px;
    width: 100%;
    margin-bottom: 1rem;
    margin-inline: auto;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

.special-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
}

.special-card p {
    margin-bottom: 0.5rem;
    color: var(--text-light);
    line-height: 1.75rem;
}

.special-ratings {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: goldenrod;
}

.special-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.special-footer .price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

@media (width > 540px) {
    .special-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    .special-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* footer */

.explore-container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.explore-image img {
    max-width: 400px;
    margin-inline: auto;
    filter: drop-shadow(0 0 50px rgba(53, 184, 9, 0.4));
}

.explore-content .section-description {
    margin-bottom: 2rem;
}

.explore-btn {
    text-align: center;
}

@media (width >768px) {
    .explore-container {
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    .explore-content .section-header {
        max-width: 500px;
    }

    .explore-content :is(.section-header, .section-description),
    .explore-btn {
        text-align: left;
    }
}




/* banner */


.banner-container {
    display: grid;
    gap: 1rem;
}

.banner-card {
    padding: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    transition: 0.3s;
}

.banner-card:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.banner-card .banner-icon {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 10px;
    font-size: 2rem;
    color: var(--white);
    border-radius: 1rem;
}

.banner-card:nth-child(1) .banner-icon {
    background-color: green;
    box-shadow: 5px 5px 30px green;
}

.banner-card:nth-child(2) .banner-icon {
    background-color: red;
    box-shadow: 5px 5px 30px red;
}

.banner-card:nth-child(3) .banner-icon {
    background-color: blue;
    box-shadow: 5px 5px 30px blue;
}

.banner-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font: 600;
    color: var(--text-dark);
}

.banner-card p {
    color: var(--text-light);
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.banner-card a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 500;
    color: var(--primary-color);
}

.banner-card a span {
    font-size: 1.25rem;
    transition: 0.3s 
}

.banner-card a:hover span {
    transform: translateX(5px);
}

@media (width >540px) {
    .banner-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (width >1024px) {
    .banner-container {
        grid-template-columns: repeat(3, 1fr);
    }
}



/* chef */


.chef {
    position: relative;
    isolation: isolate;
    /* overflow: hidden; */
}

.chef-bg {
    position: absolute;
    z-index: -1;
    max-width: 275px;
    left: -4rem;
    bottom: -2rem;
}

.chef-container {
    padding-bottom: 10rem;
    display: grid;
    gap: 2rem;
}

.chef-content .section-description {
    margin-bottom: 1rem;
}

.chef-image {
    position: relative;
    isolation: isolate;
}

.chef-image img {
    max-width: 500px;
    border-radius: 100%;
    margin-inline: auto;
}

.chef-image::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
}

.chef-list {
    display: grid;
    gap: 0.5rem;
}

.chef-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    color: var(--text-dark);
}

.chef-list li span {
    font-size: 1.5rem;
}

.chef-list li:nth-child(1) span {
    color: green;
}

.chef-list li:nth-child(2) span {
    color: red;
}

.chef-list li:nth-child(3) span {
    color: blue;
}


@media (width>768px) {
    .chef-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .chef-image {
        grid-area: 1/2/2/3;
    }

    .chef-content :is(.section-header, .section-description) {
        text-align: left;
    }

    .chef-list li {
        justify-content: flex-start;
    }
}

@media (width > 1024px) {
    .chef-bg {
        max-width: 375px;
    }
}



/* testimonal */


.testimonal-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 1rem;
    text-align: center;
}

.testimonal-container {
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 10px 0;
}

.testimonal-card {
    background-color: #ffff;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 40px rgba(128, 247, 126, 0.229);
    border: 2px solid #0dda55;
    border-image-slice: 1;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonal-card.active {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.testimonal-card p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.testimonal-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.testimonal-card h4 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: #000;
}

.testimonal-card h5 {
    font-size: 0.95rem;
    color: #6c757d;
    font-weight: 500;
}


.dots {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 8px;
}

.dots span {
    width: 10px;
    height: 10px;
    background-color: #dcdcdc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dots span.active {
    background-color: #078E38;
}




/* footer */


.footer {
    background-color: var(--primary-color-light);
}

.footer-container {
    display: grid;
    gap: 4rem 2rem;
}

.footer-logo {
    margin-bottom: 1rem;
}

.footer-col .section-description {
    text-align: left;
}

.footer-col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer-links a {
    color: var(--text-light);
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}


@media (width > 540px) {
    .footer-container {
        grid-template-columns: 3fr 2fr;
    }
}


@media (width > 768px) {
    .footer-container {
        grid-template-columns: 2fr repeat(3, 1fr);
    }
}